*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: yellow;
    color: red;
    font-size: tamanho de fonte em px;
    display: flex;
    justify-content: baseline;
}
.cabecalho-imagem{
    width: 20%;
    height: 20%;
}